@import url(./__container/popup__container.css);
@import url(./__container/_type/popup__container_type_form.css);
@import url(./__title/popup__title.css);
@import url(./__input/popup__input.css);
@import url(./__input/_type/popup__input_type_name.css);
@import url(./__input/_type/popup__input_type_about.css);
@import url(./__input/_type/popup__input_type_link.css);
@import url(./__input/_type/popup__input_type_error.css);
@import url(./__btn/popup__btn.css);
@import url(./__btn/_action/popup__btn_action_close.css);
@import url(./__btn/_action/popup__btn_action_submit.css);
@import url(./__btn/_disabled/popup__btn__disabled.css);
@import url(./__error/popup__error.css);
@import url(./__error/_visible/popup__error_visible.css);
@import url(./__image/popup__image.css);
@import url(./__caption/popup__caption.css);
@import url(./__btn-label/popup__btn-label.css);
@import url(./__btn-label/_visible/popup__btn-label_visible.css);
@import url(./__avatar/popup__avatar.css);
@import url(./__group-title/popup__group-title.css);
@import url(./__dialog/popup__dialog.css);

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-width: 300px;
  height: 100%;

  transition: all 0.5s ease;

  opacity: 0;
}
